<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>Vaktpost</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>$(MARKETING_VERSION)</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>UILaunchScreen</key>
    <dict/>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>NSAppTransportSecurity</key>
    <dict/>
  <key>CFBundleIcons</key>
  <dict>
    <key>CFBundleAlternateIcons</key>
    <dict>
      <key>ocean</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>Icon-ocean</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <false/>
      </dict>
      <key>mint</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>Icon-mint</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <false/>
      </dict>
      <key>amber</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>Icon-amber</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <false/>
      </dict>
      <key>lavender</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>Icon-lavender</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <false/>
      </dict>
      <key>silver</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>Icon-silver</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <false/>
      </dict>
    </dict>
    <key>CFBundlePrimaryIcon</key>
    <dict>
      <key>CFBundleIconFiles</key>
      <array>
        <string>AppIcon</string>
      </array>
    </dict>
  </dict>
</dict>
</plist>
